    header {
        margin-top: 40px;
        margin-bottom: 30px;
    }
    
    body {
        background: #2a3138 url("../img/background.png") no-repeat;
        margin: 2% 5% 0% 5%;
        font-family: 'Gothic A1', sans-serif;
        font-weight: 400;
        font-size: 16px;
        background-size: cover;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Libre Baskerville', serif;
        color: rgb(39, 39, 39);
    }
    
    h1 {
        font-size: 3rem;
    }
    
    h2 {
        font-size: 2.2rem;
    }
    
    h5 {
        padding: 20px;
        text-align: center;
        font-family: 'Gothic A1', sans-serif;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 2px;
        margin-top: 4px;
        margin-bottom: 0px;
    }
    
    label {
        font-family: 'Gothic A1', sans-serif;
        /* text-transform: uppercase; */
        padding-right: 10px;
        padding-left: 35px;
        font-family: 'Libre Baskerville', serif;
    }
    
    nav {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 1281px;
        background-color: rgba(255, 255, 255, 0.6);
        font-family: 'Libre Baskerville', serif;
        margin-bottom: 1%;
    }
    
    span {
        margin-right: 5px;
    }
    /* RATTIN STARS */
    
    .checked {
        color: orange;
    }
    
    .notChecked:hover {
        color: orange;
    }
    
    .form-control {
        font-size: 13px;
    }
    
    .card {
        /* margin: 15px 8px 15px 8px; */
        border-radius: 0px;
        width: 100%;
        border: 0px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: rgba(255, 255, 255, 0.6);
        /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
        padding: 12px;
        overflow: none;
    }
    
    .card-info-box {
        padding: 15px;
    }
    
    .col-md-4 {
        padding-left: 0px;
    }
    
    .map {
        width: 100%;
        height: 300px;
    }
    /* Page2.html style  */
    
    .page2-card {
        padding-top: 0%;
    }
    /* Contains "search-field" -- Place-holder and button*/
    
    .card-body {
        padding-top: 0%;
    }
    /* Tempeture, symbol and F for fahrenheit */
    /* Centers all objects in container */
    
    .row {
        text-align: center;
    }
    /* Displays information for next 5 days */
    
    .day-name,
    #iconOne,
    #iconTwo,
    #iconThree,
    #iconFour,
    #iconFive,
    #dayOneMax,
    #dayTwoMax,
    #dayThreeMax,
    #dayFourMax,
    #dayFiveMax,
    #dayOneMin,
    #dayTwoMin,
    #dayThreeMin,
    #dayFourMin,
    #dayFiveMin {
        display: inline-table;
        height: 50px;
    }
    
    #showTemp {
        font-size: 35px;
        margin-left: -20px;
        top: 70px;
        position: absolute;
    }
    
    .deg {
        font-size: 35px;
        margin-left: -220px;
        top: 70px;
        position: absolute;
    }
    
    #showMain {
        font-size: 25px;
        margin-left: -20px;
        top: 120px;
        position: absolute;
    }
    
    .f {
        font-size: 35px;
        margin-left: -200px;
        top: 70px;
        position: absolute;
    }