header {
    margin-top: 40px;
    margin-bottom: 30px;
}



/* font-family: 'Muli', sans-serif;
font-family: 'Work Sans', sans-serif; */



body {
    background: #2a3138 url("../img/background-food-3.png") no-repeat;
    margin: 2% 5% 0% 5%;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    font-size: 16px;
    background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Prata', serif;
    color: #c09000;
}


.city-name {
    text-align: center;
}

label {
    font-family: 'Muli', sans-serif;
    padding-right: 10px;
    padding-left: 20px;
}

nav {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    margin-bottom: 1%;
    
}

span {
    margin-right: 5px;
}


input:focus::-webkit-input-placeholder {
    color: transparent;
}

form {
    margin: 0rem;
    padding: 0rem;
}

#add-city-button {
    margin-left: 1em;
}


.form-control {
    font-size: 13px;
}

.carouImages {
    width: 100%;
    height: 8em;
}

.card {
    /* margin: 15px 8px 15px 8px; */
    border-radius: 0px;
    width: 100%;
    border: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(255, 255, 255, 0.6);
    /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
    padding: 12px;
    overflow: none;
}

.card-info-box {
    padding: 1em;
}

.map {
    width: 100%;
    height: 560px;
}


.card-body {
    padding-top: 0%;
}

.no-left-padding {
    padding-left: 0px !important;
}

.top-padding {
    padding-top: 1rem;
}

.margin-bottom {
    margin-bottom: 0.8em;
}

.card-body {
    padding: 0px;
}

.card-header {
    background-color: rgba(0,0,0,0);
    border-bottom: none;
    padding: 0.5rem 1rem;
    font-family: 'Prata', serif;
}

.navbar {
    padding: 1em;
}


